/*
    Feuille de style de la fenêtre de visualisation des données
    Cf. dataVisualisationPane.fxml

    auteur : Victor Jockin
    - Équipe 2B12 -
*/

.side-menu-vbox
{
    -fx-background-color: #000;
}

.first-table-column-cell
{
    -fx-background-color: #aaa;
}
.first-table-column-cell.selected
{
    -fx-background-color: #000;
}