/*
    Feuille de style de la fenêtre de visualisation des données
    Cf. dataVisualisationPane.fxml

    auteur : Victor Jockin
    - Équipe 2B12 -
*/

.side-menu
{
    -fx-background-color: #000;
}

.main-content
{
    -fx-background-color: #bbb;
}

.container
{
    -fx-background-color: #fff;
    -fx-border-radius: 0;
    -fx-background-radius: 15;
}

.table-view
{
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

.table-header
{
    -fx-background-color: #bbb;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.first-table-column-cell
{
    -fx-background-color: #aaa;
}
.first-table-column-cell.selected
{
    -fx-background-color: #000;
}

.window-header
{
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 24px;
    -fx-text-fill: #000;
}