/*
    Feuille de style de la fenêtre de visualisation des données
    Cf. dataVisualisationPane.fxml

    auteur : Victor Jockin
    - Équipe 2B12 -
*/

.side-menu {
    -fx-background-color: #242630;
}

.main-content {
    -fx-background-color: #eee;
}

.container {
    -fx-background-color: #fff;
    -fx-border-radius: 0;
    -fx-background-radius: 15;
}

.table-view {
    -fx-border-width: 0;
    -fx-background-insets: 0;
}
.table-cell {
    -fx-font-family: "Poppins Light";
    -fx-font-size: 14px;
    -fx-text-fill: #000;
}
.table-row-cell:odd {
    -fx-background: #eee;
}
.table-row-cell:even {
    -fx-background: #fff;
}
.table-row-cell:hover {
    -fx-background-color: #0078d4;
    -fx-text-fill: white;
}
.table-row-cell:empty:hover {
    -fx-background-color: transparent;
}
.table-row-cell:selected {
    -fx-background-color: #000000;
    -fx-text-fill: #fff;
}
.table-view .scroll-bar .track {
    -fx-background-color: transparent;
}
.table-view .scroll-bar {
    -fx-background-color: transparent;
}
.table-view .scroll-bar .thumb {
    -fx-background-color: #0078d4;
    -fx-background-radius: 10;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
}

.table-header {
    -fx-background-color: #eee;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: #000;
}
.first-table-column {
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 14px;
    -fx-text-fill: #000;
}

.side-menu-button-label {
    -fx-font-family: "Poppins Light";
    -fx-font-size: 18px;
    -fx-text-fill: #fff;
}
.side-menu-button {
    -fx-background-color: #242630;
    -fx-text-fill: #fff;
    -fx-border-radius: 0;
    -fx-background-radius: 5;
}
.side-menu-button:hover {
    -fx-background-color: #444cf8;
    -fx-text-fill: #fff;
}
.side-menu-button:pressed {
    -fx-background-color: #444cf8;
    -fx-text-fill: #fff;
}

.window-header {
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 24px;
    -fx-text-fill: #000;
}
.container-header {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 18px;
    -fx-text-fill: #000;
}