/* style.css */
.root {
    -fx-background-color: #f0f0f0; /* Gris clair pour un look moderne */
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 16px;
    -fx-padding: 20px;
    -fx-border-color: #cccccc; /* Gris clair pour les bordures */
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.SUPERB {
    -fx-background-color: #ff7f50; /* Corail pour les boutons */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 0, 1);
}

.SUPERB:hover {
    -fx-background-color: #ff6347; /* Tomate pour l'effet hover */
}

.Label {
    -fx-text-fill: #333333; /* Texte gris foncé */
    -fx-font-size: 18px;
}