/*
Feuille de style des pages du back-office.

Date de dernière modification :
- Lundi 6 janvier 2025 -

Auteur : Victor Jockin
- Équipe 2B12 -
*/

/* fonts */
/* ----- */

/* font regular */
@font-face {
    font-family: 'OpenSans Regular';
    src: url('../font/OpenSans/OpenSans-Regular.ttf') format('truetype') ;
    font-style: normal;
}

/* font regular italic */
@font-face {
    font-family: 'OpenSans Regular Italic';
    src: url('../font/OpenSans/OpenSans-Italic.ttf') format('truetype') ;
    font-style: normal;
}

/* font semi-bold */
@font-face {
    font-family: 'OpenSans Semi-Bold';
    src: url('../font/OpenSans/OpenSans-SemiBold.ttf') format('truetype') ;
    font-style: normal;
}

/* font bold */
@font-face {
    font-family: 'OpenSans Bold';
    src: url('../font/OpenSans/OpenSans-Bold.ttf') format('truetype') ;
    font-style: normal;
}

/* font bold italic */
@font-face {
    font-family: 'OpenSans Bold Italic';
    src: url('../font/OpenSans/OpenSans-BoldItalic.ttf') format('truetype') ;
    font-style: normal;
}

/* déclaration des variables désignant les fonts */
:root {
    --regular-font:         'OpenSans Regular', sans-serif;
    --regular-italic-font:  'OpenSans Regular Italic', sans-serif;
    --semibold-font:        'OpenSans Semi-Bold', sans-serif;
    --bold-font:            'OpenSans Bold', sans-serif;
    --bold-italic-font:     'OpenSans Bold Italic', sans-serif;
}

/* ======================================== */

/* général */
/* ------- */

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    flex-direction: row;
    gap: 0px;
    background-color: #fff;
    font-family: var(--regular-font);
}

h1 {
    margin: 0px;
    padding: 0px;
    padding-left: 2px;
    padding-top: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    font-family: var(--regular-font);
    font-size: 26px;
}

/* ======================================== */

/* séparateurs */
/* ----------- */

hr {
    width: 100%;
    height: 1.5px;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: #dedfe3;
}
hr.between-content {
    margin-top: 30px;
}
hr.adjusted-lower-margin {
    margin-bottom: 10px;
}

/* ======================================== */

/* espaces libres */
/* -------------- */

.free-container {
    display: flex;
    height: 100%;
    background-color: #fff;
}

/* ======================================== */

/* menu latéral */
/* ------------ */

.side-menu-container {
    display: flex;
    position: relative;
    width: 240px;
    height: 100vh;
    flex-direction: column;
    background-color: #1d2c3a;
    box-shadow: 5px 90px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.side-menu-header {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 70px;
    height: 70px;
    padding: 0px 10px;
    flex-direction: row;
    gap: 0px;
    box-sizing: border-box;
    background-color: #263545;
    z-index: 999;
    align-items: center;
}
.woohp-logo-container {
    display: flex;
    width: 72px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.woohp-logo {
    margin-top: 0px;
    width: 50px;
    height: auto;
    box-sizing: border-box;
}
.woohp-resell {
    color: #fff;
    font-family: var(--semibold-font);
    font-size: 18px;
}

.side-menu-content {
    width: 100%;
    height: 100%;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
}

.side-menu-button {
    display: flex;
    width: 100%;
    height: 48px;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
    flex-direction: row;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.side-menu-button:hover { background-color: #263545; }
.side-menu-button.active { background-color: #017aff; }

.side-menu-button-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-menu-button-icon {
    width: 32px;
    height: auto;
}

.side-menu-button-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-menu-button-name {
    color: #fff;
    font-family: var(--regular-font);
    font-size: 15px;
}
.side-menu-button.active .side-menu-button-name { color: #fff; }

@media screen and (max-width: 920px) {
    .side-menu-header {
        justify-content: center;
    }

    .woohp-resell {
        display: none;
    }

    .side-menu-container {
        min-width: 70px;
        width: 70px;
    }

    .side-menu-button {
        justify-content: center;
        padding: 0;
    }

    .side-menu-button-name-container {
        display: none;
    }

    .side-menu-button-icon-container {
        position: relative;
    }
}

/* ======================================== */

/* contenu de la page */
/* ------------------ */

.page-container {
    display: flex;
    flex: 1;
    height: 100vh;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f5f7f9;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0px;
    flex: 1;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.content {
    margin-top: auto;
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
}

/* ======================================== */

/* conteneurs */
/* ---------- */

.container {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    border: 1.5px solid #dedfe3;
    border-radius: 5px;
    gap: 20px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.container-menu-button {
    display: flex;
    height: 40px;
    padding: 0px 15px 0px 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    flex-direction: row;
    gap: 5px;
    color: #fff;
    font-family: var(--regular-font);
    font-size: 15px;
    background-color: #007bfd;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.container-menu-button:hover {
    background-color: #006beb;
}
.container-menu-button.no-frame {
    height: 25px;
    padding: 0px;
    color: #000;
    background-color: #fff;
}
.container-menu-button.no-frame * {
    color: inherit;
}
.container-menu-button.no-frame.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.container-menu-button-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-menu-button-icon {
    width: 15px;
    height: auto;
}

.container-menu-button-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-menu-button-name {
    color: #fff;
    font-family: var(--regular-font);
    font-size: 15px;
}

/* ======================================== */

/* boutons */
/* ------- */

.cancel-button {
    background-color: #1d2c3a;
}
.cancel-button:hover {
    background-color: #152432;
}

/* ======================================== */

/* tables */
/* ------ */

table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1.5px solid #dedfe3;
}

tr {
    height: 50px;
    box-sizing: border-box;
    border-collapse: collapse;
}
tr.header-row {
    background-color: #fff;
}
tr.even-row {
    background-color: #f2f2f2;
}
tr.odd-row {
    background-color: #fff;
}
tr.content:hover {
    background-color: #dedfe3;
}

th, td {
    height: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1.5px solid #dedfe3;
    font-size: 15px;
}
th {
    padding: 0px 20px 0px 20px;
    font-family: var(--bold-font);
}
td {
    position: relative;
    padding: 0px 10px 0px 10px;
    font-family: var(--regular-font);
}

td.no-result {
    color: #888;
    text-align: center;
}

.options-container {
    display: flex;
    height: 100%;
    gap: 5px;
    flex-direction: row;
}

/* table des produits */
th.product-id-column        { width: 6%; }
th.product-name-column      { width: 42%; }
th.product-category-column  { width: 38%; }
th.product-variants-column  { width: 12%; }

/* table des variantes de produit */
.variants-table-container {
    display: none;
}
td.variants-table-cell {
    padding: 0px;
}
.variants-table {
    width: 100%;
    border: none;
}
.variants-table.even-table { background-color: #f2f2f2; }
.variants-table.odd-table { background-color: #fff; }
.variants-table tr {
    border-bottom: 1.5px solid #dedfe3;
    vertical-align: top;
}
.variants-table tr:last-child { border-bottom: none; }
.variants-table td {
    border: none;
    padding: 3px 10px 3px 10px;
    font-family: var(--regular-italic-font);
}
.variants-table td div {
    box-sizing: border-box;
}
.variants-table td div .header {
    display: flex;
    min-height: 21px;
    flex-direction: column;
    justify-content: flex-end;
    font-family: var(--bold-italic-font);
}
.variants-table td div .content {
    display: flex;
    min-height: 21px;
    padding: 0px;
    gap: 5px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.variants-table td div .content.variant-groups-container {
    padding-top: 3px;
}
.variant-id-column      { width: 20%; }
.variant-feature-column { width: 20%; }
.variant-price-column   { width: 20%; }
.variant-groups-column  { width: 20%; }
.variant-stock-column   { width: 20%; }

/* ======================================== */

/* liens */
/* ----- */

a.link {
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    font-family: var(--regular-font);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}
a.link.category {
    padding: 5px 10px;
    font-size: 12px;
}
a.link.parentCategory {
    padding: 3.5px 10px;
    border: 1.5px solid #000;
    color: #000;
    background-color: #fff;
    font-size: 12px;
}
a.link.group {
    height: 15px;
    line-height: 15px;
    padding: 0px 4px 0px 4px;
    font-size: 10px;
}

/* ======================================== */

/* icônes */
/* ------ */

a.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* "Voir plus" / "Voir moins" */
.show-more-icon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: auto;
}
.show-more-icon:hover {
    cursor: pointer;
}

/* icônes cliquables */
.clickable-icon-container {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #007bfd;
    justify-content: center;
    align-items: center;
}
.clickable-icon-container:hover {
    background-color: #006beb;
    cursor: pointer;
}

.edit-icon {
    max-width: 20px;
    max-height: 20px;
}
.delete-icon {
    max-width: 20px;
    max-height: 20px;
}

/* ======================================== */

/* attributs */
/* --------- */

.ns {
    user-select: none;
    pointer-events: none;
}

.centred-text { text-align: center; }

.h-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.right-aligned-content {
    display: flex;
    justify-content: flex-end;
}

/* élément caché */
.hidden {
    display: none;
}