/*
Feuille de styles des formulaires.

Voir : 
- formulaire_connexion.php
- creer_compte.php

Date de dernière modification :
- Mercredi 11 décembre 2024 -

Auteur : Victor Jockin
- Équipe 2B12 -
*/


/* typographies (fonts) */
/* -------------------- */

/* typographie de corps (fine) */
@font-face {
    font-family: 'Satoshi Variable';
    src:    url('../font/satoshi/Satoshi-Variable.woff2')  format('woff2'),
            url('../font/satoshi/Satoshi-Variable.woff')   format('woff'),
            url('../font/satoshi/Satoshi-Variable.ttf')    format('truetype') ;
    font-weight: 300 900;
    font-style: normal;
}

/* typographie épaisse */
@font-face {
    font-family: 'Satoshi Bold';
    src:    url('../font/satoshi/Satoshi-Bold.woff2')  format('woff2'),
            url('../font/satoshi/Satoshi-Bold.woff')   format('woff'),
            url('../font/satoshi/Satoshi-Bold.ttf')    format('truetype') ;
    font-weight: 300 900;
    font-style: normal;
}

/* typographie très épaisse */
@font-face {
    font-family: 'Satoshi Black';
    src:    url('../font/satoshi/Satoshi-Black.woff2')  format('woff2'),
            url('../font/satoshi/Satoshi-Black.woff')   format('woff'),
            url('../font/satoshi/Satoshi-Black.ttf')    format('truetype') ;
    font-weight: 300 900;
    font-style: normal;
}

:root {
    --body-font :   'Satoshi Variable', sans-serif;
    --bold-font :   'Satoshi Bold', sans-serif;
    --black-font :  'Satoshi Black', sans-serif;
}


/* balises html */
/* ------------ */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
    background-color: #93d467;
    font-family: var(--body-font);
    font-size: 14px;
}

h1 {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: var(--black-font);
    font-size: 28px;
}


/* classes de style */
/* ---------------- */

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.form-container {
    display: inline-block;
    padding: 20px;
    min-width: 300px;
    max-width: 300px;
    border-radius: 10px;
    border: 0px;
    background-color: #fff;
}

.form-title {
    text-align: center;
    background-color: #fff;
}

.form-content {
    display: flex;
    flex-direction: column;
    background-color: #bbb;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: auto;
    background-color: #0f0;
}
.input-field-label {
    font-family: var(--bold-font);
    font-size: 14px;
}
.input-field {
    min-height: 24px;
}